.container-welcome-user{
    width: 700px;
    height: 40px;
    font-size: 8.5px;
    background-color: #b2ec94;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  margin: 10px 150px 0 150px; */
    margin: 20px 500px 0 250px;
}

 /*Responsive for desktop*/

    @media screen and (min-width: 768px) {
        .Container-WelcomeUser{
            margin: 20px 605px 0 605px;
            width: 820px;
            height: 50px;
        }
    
        h1 {
            font-size: 25px;
            text-align: center;
        }
 }    
    