.Container-Gen{
    background-image: url('../../img/fondo.png'); 
    height: 100vh; 
    display: flex;
    justify-content: center;
}

.Container-WelcomeUser{
width:700px;
height: 10px;
position:absolute;
font-size: 8.5px;
margin-top: 35px;
text-align: center;
}

.Container-InputNotes{
    /* position:relative; */
    width: 190px;
    height: 400px;
    padding: 35px; 
    background:#f5bacc ;
    /* background: transparent;
    border: 3px solid #fff; */ 
    margin-top: 120px;
    border-radius: 30px; 
} 

input.titleNote{
    width: 190px;
    height: 60px;
    border-radius: 15px;
    /* box-shadow: inset 0px 0px 25px 0px rgb(174, 169, 169); */
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #FFF89A;
    margin-top: 12px;
    text-align: center;
    font-family: 'Righteous', cursive;;
}

.textareaNote {
    
    width:190px;
    height: 230px;
    border-radius: 15px;
    background-color: #FFF89A;
    margin-top: 10px;
    margin-left: 0vmin;
    font-size: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;;
}

.Container-PrintNotes{
    background-color:#f5bacc;
    width: 210px;
    padding: 35px;
    height: 700px;
    margin-left: 20px;
    margin-top: 120px;
    border-radius: 30px;
}

.titleList{
    text-align: center;
    margin-top: -390px; 
    font-family: 'Righteous', cursive;
    font-size: 15px;
}

.Img-logout{
    width: 15vmin;
    margin-left: 15vmin;
    margin-top: 120px;
    height: 30px;
    width: 30px;
}

.button-components-logout{
margin-top: -20vmin;
margin-left: 70vmin;
display: flex;
justify-content: space-between;
align-items:center;
height: 20px;
width: 10px;
font-family: 'Righteous', cursive;
}

.btn-saveNotes{
    text-align: center;
}
.button-components-saveNotes{
    width: 200px;
    height: 50px;
    border-radius: 60px;
    background-color: #e8416b;;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    text-align: center;
    justify-content:center;
    font-family: 'Righteous', cursive;
}
.btn-position{
    display: flex;
    justify-content:center;
}

p{
    text-align: left;
    margin-left: 0px;
    margin-top: 35px;
    font-family: 'Righteous', cursive;
    font-size: 12px; 
    line-height: 1;
}
.btn-borrar{
    width:55px;
    height: 25px;
    border-radius: 20px;
    background-color:rgb(239, 15, 60);
    color: white;
    font-size: 14px;
    border: none;
    font-family: 'Righteous', cursive;
}

.btn-editar{
    width:55px;
    height: 25px;
    border-radius: 20px;
    background-color:rgb(22, 137, 64);
    color: white;
    font-size: 14px;
    border: none;
    font-family: 'Righteous', cursive;
    margin-left: 5px;
}