
.container-gen{
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url('../../img/fondo.png'); 
   background-attachment: fixed;
   height: 100vh;
   position: relative;
   top: 0;
   z-index: 1500;
 
}

.container-input-notes{
    display: grid;
    width: 260px;
    height: 395px;
    padding: 35px; 
    background:#b5ef95;
    margin-top: 100px;
    border-radius: 30px; 
} 

input.title-note{
    width: 260px;
    height: 60px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #fffab6;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: darkblue;
}

.textarea-note {
    
    width:260px;
    height: 170px;
    border-radius: 15px;
    background-color: #fefab6;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.container-textarea-note-generate{
    width:260px;
    height: 130px;
    border-radius: 15px;
    background-color: #fefab6;
    margin-top: 17px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.title-list{
    text-align: center;
    font-family: 'Righteous', cursive;
}

.container-print-notes{
    background-color: #b5ef95;
    width: 260px;
    padding: 35px;
    margin-left: 20px;
    margin-top: 100px;
    border-radius: 30px;
}

.text-title {
    margin-left: 15px;
    margin-top: 40px;
    color: rgb(10, 26, 152);
    font-family:'Righteous', negrita;
    font-size: 17px;
}

.text-descript {
    margin-left: 15px;
    margin-top: 40px;
    font-family: 'Righteous', 'Times New Roman', Times, serif;
}
.btn-saveNotes{
    text-align: center;
}
.btn-comp-save-notes{
    width: 200px;
    height: 50px;
    border-radius: 60px;
    background-color: #1db74b;;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    text-align: center;
    justify-content:center;
    font-family: 'Righteous', cursive;
}
.btn-position{
    display: flex;
    justify-content:center;
}

p{
    text-align: left;
    margin-left: 0px;
    font-family: 'Righteous', cursive;
    font-size: 12px; 
    line-height: 1;
}
.btn-borrar{
    width:55px;
    height: 25px;
    border-radius: 20px;
    background-color:rgb(239, 15, 60);
    color: white;
    font-size: 14px;
    border: none;
    font-family: 'Righteous', cursive;
}

.btn-editar{
    width:55px;
    height: 25px;
    border-radius: 20px;
    background-color:rgb(22, 137, 64);
    color: white;
    font-size: 14px;
    border: none;
    font-family: 'Righteous', cursive;
    margin-left: 5px;
}

/*Responsive for desktop*/
@media screen and (min-width: 768px){
  
    .container-input-notes{
        display: grid;
        width: 260px;
        height: 395px;
        padding: 35px; 
        background:#b5ef95;
        margin-top: 100px;
        border-radius: 30px; 
    } 
    
    input.title-note{
        width: 260px;
        height: 60px;
        border-radius: 15px;
        font-size: 20px;
        background-color: #fffab6;
        text-align: center;
        font-family: 'Righteous', cursive;
        color: darkblue;
    }
    
    .textarea-note {
        width:260px;
        height: 170px;
        border-radius: 15px;
        background-color: #fefab6;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        font-family: 'Righteous', cursive;
    }
    
    .container-textarea-note-generate{
        width:260px;
        height: 130px;
        border-radius: 15px;
        background-color: #fefab6;
        margin-top: 17px;
        text-align: center;
        font-family: 'Righteous', cursive;
    }
    
    .title-list{
        text-align: center;
        font-family: 'Righteous', cursive;
    }
    
    .container-print-notes{
        background-color: #b5ef95;
        width: 828px;
        height: 750px;
        padding: 35px;
        margin-left: 20px;
        margin-top: 100px;
        border-radius: 30px;
    }
    
    .text-title {
        margin-left: 15px;
        margin-top: 40px;
        color: rgb(10, 26, 152);
        font-family:'Righteous', negrita;
        font-size: 17px;
    }
    
    .text-descript {
        margin-left: 15px;
        margin-top: 40px;
        font-family: 'Righteous', 'Times New Roman', Times, serif;
    }
    .btn-saveNotes{
        text-align: center;
    }
    .btn-comp-save-notes{
        width: 200px;
        height: 50px;
        border-radius: 60px;
        background-color: #1db74b;;
        color: white;
        font-size: 20px;
        border: none;
        margin-top: 10px;
        text-align: center;
        justify-content:center;
        font-family: 'Righteous', cursive;
    }
    .btn-position{
        display: flex;
        justify-content:center;
    }
    
    p{
        text-align: left;
        margin-left: 0px;
        font-family: 'Righteous', cursive;
        font-size: 12px; 
        line-height: 1;
    }
    .btn-borrar{
        width:55px;
        height: 25px;
        border-radius: 20px;
        background-color:rgb(239, 15, 60);
        color: white;
        font-size: 14px;
        border: none;
        font-family: 'Righteous', cursive;
    }
    
    .btn-editar{
        width:55px;
        height: 25px;
        border-radius: 20px;
        background-color:rgb(22, 137, 64);
        color: white;
        font-size: 14px;
        border: none;
        font-family: 'Righteous', cursive;
        margin-left: 5px;
    }
    .container-notes {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 1fr 1fr;
        grid-gap: 20px;
    }
}