/*Tablet vertical*/
@media only screen and (min-width: 810px) /* and (max-width: 1180px) */ {
  .container-for{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Container-intro {
    margin-top: 45vmin;
    padding: 0;
    width: 45vw;
  }
  /* h2 {
    margin-top: 45vmin;
  } */

  .Form-log {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    width: 450px;
    height: 400px;
    background-color: rgb(239, 209, 170);
    color: var(--color-border);
    border-radius: 60px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    text-align: center;
    position: absolute;
  }

  .title-div {
    /* color:rgb(232, 34, 74); */
    font-family: "Righteous", cursive;
    font-size: 40px;
    -webkit-text-stroke: 0.1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .Img-register {
    width: 35vmin;
    margin-left: 1vmin;
  }

  .text-field {
    border: 1px solid var(--color-border);
    border-radius: 4px;
    width: 200px;
    padding: 15px 30px;
  }

  input {
    width: 200px;
    height: 20px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
  }

  .button-components {
    width: 200px;
    height: 40px;
    border-radius: 60px;
    background-color: #e8416b;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: -15px;
  }

  .btn-google,
  .btn-ingresar {
    text-align: center;
  }

  .button-google {
    width: 260px;
    height: 40px;
    border-radius: 60px;
    background-color: white;
    color: #e8416b;
    font-size: 20px;
    border: none;
    margin-top: 10px;
    text-align: center;
  }

  .Error{
    margin-top: -5px;
  } 

  p{
    /* color: red; */
    font-size: 40px;
  }

  .Img-google {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 15px;
  }
}

/*  @media only screen and (min-width: 1200px) {
  .Form-log {
    margin: 4% 30%;
    min-height: 700px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(239, 209, 170);
    color: var(--color-border);
    border-radius: 60px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
    position: absolute;
  }
}  */
