@media only screen and (min-width: 650px) {
  .container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    background-color: rgb(181, 196, 221);
  }

  .header-title-name {
    width: 100px;
    height: 10px;
    margin-left: 100px;
    margin-top: 5px;
  }

  .img-title-h {
    width: 240px;
    display: flex;
    margin-top: -10px;
  }

  .img-logout {
    margin-left: -90px;
    margin-top: -10px;
    justify-content: center;
    display: flex;
    height: 20px;
    width: 20px;
  }

  .button-components-logout {
    justify-content: space-between;
    align-items: center;
    height: 10px;
    width: 5px;
    font-family: "Righteous", cursive;
    background-color: rgb(181, 196, 221);
    border: none;
  }
}
